@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.6.0/style.min.css");


:root {
  /* --vp-c-bg: #faf0f2;

  --vp-c-brand: #fc809d;
  --vp-c-brand-light: #FE7F9C;
  --vp-c-brand-lighter: #FDA4BA;
  --vp-c-brand-lightest: #FCBACB;
  --vp-c-brand-dark: #fa688a;
  --vp-c-brand-darker: #fd5d83; */
  --vp-c-bg: #fff1f2;

  --vp-c-brand: #fb7185;
  --vp-c-brand-light: #fda4af;
  --vp-c-brand-lighter: #fecdd3;
  --vp-c-brand-lightest: #ffe4e6;
  --vp-c-brand-dark: #f43f5e;
  --vp-c-brand-darker: #e11d48;


  /* normal text font */
  --vp-font-family-base: "LXGW WenKai Lite", sans-serif;

  /* code font */
  --vp-font-family-mono: "LXGW WenKai Mono Lite", sans-serif;
}

.dark {
  --vp-c-bg: #2c3639;
  --vp-c-text: white;
  --vp-c-hover: #ffffff;
  --vp-c-bg-alpha-with-backdrop: rgba(44, 54, 57, 0.7);
  --vp-avator-border: #3f4e4f;
}


.btn {
  @apply color-[--vp-c-brand-dark] text-xl;
}